---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";


.center {
  display: block;
  margin: 0 auto;
}

.scale {
  display: block;
  width: 50%;  
}

.center-image1 {
    display: block;
    margin: 0 auto;
    width: 50%;
}

.center-image2 {
  display: block;
  margin: 0 auto;
  width: 80%;
}

.center-image3 {
  display: block;
  margin: 0 auto;
  width: 65%;
}

.center-image4 {
  display: block;
  margin: 0 auto;
  width: 40%;
}




